*.cache
OdeToFood.Data/bin/Debug/netcoreapp3.1/OdeToFood.Core.pdb
OdeToFood.Data/bin/Debug/netcoreapp3.1/OdeToFood.Data.deps.json
OdeToFood.Data/bin/Debug/netcoreapp3.1/OdeToFood.Data.dll
OdeToFood.Data/bin/Debug/netcoreapp3.1/OdeToFood.Data.pdb
OdeToFood.Data/obj/OdeToFood.Data.csproj.nuget.dgspec.json
OdeToFood.Data/obj/OdeToFood.Data.csproj.nuget.g.props
OdeToFood.Data/obj/OdeToFood.Data.csproj.nuget.g.targets
OdeToFood.Data/obj/project.assets.json
OdeToFood.Data/obj/Debug/netcoreapp3.1/OdeToFood.Data.AssemblyInfo.cs
OdeToFood.Data/obj/Debug/netcoreapp3.1/OdeToFood.Data.csproj.CopyComplete
OdeToFood.Data/obj/Debug/netcoreapp3.1/OdeToFood.Data.csproj.FileListAbsolute.txt
OdeToFood.Data/obj/Debug/netcoreapp3.1/OdeToFood.Data.dll
OdeToFood.Data/obj/Debug/netcoreapp3.1/OdeToFood.Data.pdb
src/bin/Debug/netcoreapp3.1/OdeToFood.Core.dll
src/bin/Debug/netcoreapp3.1/OdeToFood.Core.pdb
src/bin/Debug/netcoreapp3.1/OdeToFood.Data.dll
src/bin/Debug/netcoreapp3.1/OdeToFood.Data.pdb
OdeToFood.Core/bin/Debug/netcoreapp3.1/OdeToFood.Core.dll
OdeToFood.Core/bin/Debug/netcoreapp3.1/OdeToFood.Core.pdb
OdeToFood.Core/obj/Debug/netcoreapp3.1/OdeToFood.Core.csproj.FileListAbsolute.txt
OdeToFood.Core/obj/Debug/netcoreapp3.1/OdeToFood.Core.dll
OdeToFood.Core/obj/Debug/netcoreapp3.1/OdeToFood.Core.pdb
